services:
  mc-server:
    image: itzg/minecraft-server:java17
    container_name: minecraft-server
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: "FORGE"
      VERSION: "1.20.1"
      MEMORY: "8G"
      FORGE_VERSION: "47.4.0"
      OPS: "1Storce1"
      ENABLE_RCON: "TRUE"
      RCON_PASSWORD: "${RCON_PASSWORD}"
      RCON_PORT: 25595
    volumes:
      - ./data:/data
    restart: unless-stopped

  mc-bot:
    build: ./bot
    container_name: minecraft-bot
    restart: unless-stopped
    depends_on:
      - mc-server
    environment:
      DISCORD_TOKEN: "${DISCORD_TOKEN}"
      CHANNEL_ID: "${CHANNEL_ID}"
      GEMINI_API_KEY: "${GEMINI_API_KEY}"
      RCON_PASSWORD: "${RCON_PASSWORD}"
    volumes:
      # Mount the same local data folder as read-only for the bot
      - ./data:/data:ro
